#todoList{
  /* background-color: #fff; */
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 8px;
}

#filterContainer{
  text-align: left;
  margin-top: 1rem;
}

#filterContainer label {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: var(--primary-color);
  cursor: pointer;
}

option {
  background-color: #fff;
}

/* Solo los botones de los tasks */
li button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: none;
  box-shadow: none;
  transition: 
    transform 0.2s ease-in-out;
  font-weight: 700;
}

li button:hover {
  background: none;
  box-shadow: none; 
  transform: translateY(-5px);
}

span{
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

input[type="checkbox"]{
  cursor: pointer;
  /*tamaño*/
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.2s ease;
}

input[type="checkbox"]:hover{
  transform: scale(1.2);
}

.btnDelete {
  color: #ff0000;
}

.btnEdit {
  color: var(--hover-color);
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}