#colorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px;
  color: black;
  background-color: var(--primary-color);
  max-width: 180px;
  border: 2px solid black;
}