footer a {
  color: var(--darkbg-text);
}

footer {
  background-color: var(--dark-color);
  color: var(--darkbg-text);
}

.footer-container {
  width: 100%;
}

.footer-link {
  margin-left: 5px;
  gap: 5px; /* Espaciado entre la imagen y el texto */
}

.footer-link img {
  vertical-align: middle; /* Asegura que la imagen esté alineada */
}