@import url("/src/components/header/header.css");
@import url("/src/components/footer/footer.css");

:root {
  --primary-color: #F7DF1E;
  --hover-color: #F2BF00;
  --dark-color: #333;
  --text-light: wheat;
  --darkbg-text: #fff;
  --background-color: #f3f3f3;
  --transition-default: 0.3s ease;
}

/* Configuracion base y fuente */
body {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.page {
  background-color: var(--background-color);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Utilidades de layout */
.row {
  display: inline-block;
}

.column {
  display: flex;
  gap: 10px;
  flex-flow: column wrap;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.subheader {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--dark-color);
}

button {
  margin-top: 10px;
  padding: 0.8rem 1rem;
  background-color: var(--primary-color);
  color: #000;
  cursor: pointer;
  transition: background-color var(--transition-default);
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button:hover {
  background-color: var(--hover-color);
}

ul {
  margin-top: 15px;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition:
    color var(--transition-default),
    transform var(--transition-default);
}

a:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}

/* Elementos de formulario */
input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--dark-color);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input:focus{ 
  outline: 4px solid var(--primary-color);
}

/* Utilidades */
.no-select {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Estándar */
}

.cursor-pointer {
  cursor: pointer;
}

/* Animaciones */

/* regla CSS para animar entre paginas */
@view-transition {
  navigation: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn .5s forwards ease-out;
}

.fade-out {
  animation: fadeOut .5s forwards ease-out;
}

