body {
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.no-select {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Estándar */
}

.row {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
}

.column {
  display: flex;
  gap: 10px;
  flex-flow: column wrap;
}

.main-div {
  padding: 10px;
  margin-top: 20px;
  background-color: #f5f5f5;
}

img {
  max-width: 300px;
  margin-top: 10px;
}

.old-div {
  margin-top: 20px;
  background-color: #e0e0e0;
  padding: 10px;
}

.new-div {
  margin-top: 20px;
  background-color: lightcoral;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
}

ul {
  margin-top: 15px;
  list-style-type: none;
  padding: 0;
}


#dropzone {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 2px dashed #ccc;
  padding: 10px;
  text-align: center;
  margin-top: 10px; 
}

.container {
  display: flex;
  gap: 10px;
  border: 2px dashed #ccc;
  border-color: #0056b3;
}

.fixed-container {
  margin: auto;
  width: 400px;
}

.draggable  {
  width: 100px;
  height: 100px;
  background-color: #ffcc00;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  cursor: move;
}

#colorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px;
  color: black;
}

/*
#output {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  width: 95%;
  margin: auto;
}
#output:focus-visible {
  outline: 3px solid dodgerblue;
}
*/